@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');


.Navbar {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

    h2 {
        font-family: "Trade Winds", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 2vw;
            padding: 1vw;
            margin-top: 0;
            cursor: pointer;
            z-index: 2;
    }
    h3 {
        position: absolute;
        top: 0;
        right: 5vw;
        font-size: 1vw;
        font-family: "Wallpoet", sans-serif;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
    }

}